/* section */
.top {
  padding-top: 100px;
}
.section-inner {
  width: 90%;
  margin-inline: auto;
}

.section-title {
  font-size: 32px;
  text-align: center;
}

/* header */
header {
  height: fit-content;
  background-color: #eee;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

header .header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

header .header-inner .logo .logo-img {
  display: block;
  width: 20%;
  height: auto;
}

header .header-inner .logo .logo-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* footer */
